.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #8c6666;
  color: white;
}

.welcome {
  margin-right: 15px;
  font-size: 0.9rem;
}

.logoutBtn {
  background: #ff4757;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.logoutBtn:hover {
  background: #ff6b81;
}